.click {
  background-color: #1b1b32;
  border: 1px solid white;
  border-radius: 70px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.click:hover {
background-color: #590197;
}

.reiniciar {
  border: 1px solid white;
  background-color: #ac0246;
  border-radius: 70px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reiniciar:hover {
  background-color: #ebb000;
}